<div class="home-page">
<form method="GET" action="/artist-search">
    <label>
        <input type="text" name="artist" placeholder="Search an artist"/>
    </label>
    <button>Search for an Artist</button>
</form>
</div>