<div class="home-page">
    <div class="form-home">
        <form method="GET" action="/artist-search" class="input-home">
            <label>
                <input type="text" name="artist" placeholder="Search an artist"/>
            </label>
            <button id="search-button">Search for an Artist</button>
        </form>
    </div>
</div>