<% tracksArray.forEach(track => { %>
    <div class="tracks">
        <p class="track-title"><%- track.name %></p>
        <figure class="audio-panel">
            <audio controls src="<%- track.preview%>">
            </audio>
        </figure>
    </div>
    <% }) %>